html {
    background-color: var(--white);
}

body {
    color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark) !important;
}

.footer {
    background-color: var(--white);
    color: var(--dark)
}

header {
    background-color: var(--white);
}

a {
    color: var(--dark);
}

a:hover,
a.active {
    color: var(--dark);
    border-bottom: 2px solid var(--main);
}


.navbar-middle {
    background-color: var(--white);
}
nav.navbar {
    background-color: var(--white);
}
.navbar-burger {
    color: var(--white);
}

.title {
    color: var(--dark);
}

.navigate {
    background-color: var(--grey)
}

.exif {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: small;
    color: var(--dark)
}

.slider {
    background-color: var(--white)
}
