<style>
    @font-face {
        font-family: 'Roboto Mono Regular';
        src: url({{ "fonts/RobotoMono/RobotoMono-Regular.ttf" | absURL }}) format('truetype');
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }

    @font-face {
        font-family: 'Roboto Mono Italic';
        src: url({{ "fonts/RobotoMono/RobotoMono-Italic.ttf" | absURL }}) format('truetype');
        font-style: italic;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }

    @font-face {
        font-family: 'Roboto Mono Bold';
        src: url({{ "fonts/RobotoMono/RobotoMono-Bold.ttf" | absURL }}) format('truetype');
        font-style: normal;
        font-weight: bold;
        text-rendering: optimizeLegibility;
    }

    @font-face {
        font-family: 'Roboto Mono Bolt Italic';
        src: url({{ "fonts/RobotoMono/RobotoMono-BoldItalic.ttf" | absURL }}) format('truetype');
        font-style: italic;
        font-weight: bold;
        text-rendering: optimizeLegibility;
    }

    body {
        font-family: "Roboto Mono Regular";
    }
</style>